
<ul id="slide-out" class="side-nav hoverable ">
  <ul class="row">
          <div class="col s6">
        <li><a href="/"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home"><i class="fa fa-home"></i></a></li>
        </div>
          <div class="col s6">
        <li><a href="/forums" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Forums"><i class="fa fa-comment"></i></a></li>
        </div>

      </ul>

  <li><a href="/quicklinks/aboutus"><i class="fa fa-info"></i>About</a></li>
    <li><a href="/quicklinks/admissions"><i class="fa fa-graduation-cap"></i>Admissions</a></li>
    <li><a href="/quicklinks/facilities"><i class="fa fa-user"></i>Facilities </a></li>
    <li><a href="/quicklinks/placements"><i class="fa fa-handshake-o"></i>Placements</a></li>
    <li><a href="/quicklinks/researches"><i class="fa fa-search"></i>Research</a></li>
    <li><a href="/quicklinks/complain"><i class="fa fa-commenting-o"></i>complain</a></li>
    <li><a href="/quicklinks/Campuslife"><i class="fa fa-bed"></i>Campus Life</a></li>
    <li><a href="/quicklinks/contactus"><i class="fa fa-phone"></i>Contact Us</a></li>
    {{#if userid}}
    <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    {{else}}
    <li><a href="/login"><i class="fa fa-users"></i>login</a></li>
    {{/if}}


 </ul>

 <!-- NAV BAR -->
 <div class="navbar-fixed">
       <nav id="navbars ">
         <div class="nav-wrapper">
           <ul class="left hide-on-med-and-down right">

             <li><a href="mailto:thakursachin467@gmail.com">Get In Touch</a></li>

    </ul>
    <a href="/" class="brand-logo center "><img src="https://www.chitkara.edu.in/wp-content/uploads/2017/11/chitkara-university-logo.png" width='150px' height='150px' class="responsive-img"></a>

           <a href="#" data-activates="slide-out" class="button-collapse show-on-large left"><i class="material-icons">menu</i></a>
        </div>
    </nav>
  </div>
