<div class="row">
  <div class="col s12 ">
    <nav>
    <div class="nav-wrapper indigo darken-2">
      <a style="margin-left: 20px;" class="breadcrumb" >{{userid.firstname}} {{userid.lastname}}</a>
      <a class="breadcrumb" href="/dashboard">Dashboard</a>




            <a class="right " style="margin-right: 20px;" href="/dashboard/student"><i class="fa fa-refresh" style="font-size:26px;">Refresh</i> </a>


    </div>
  </nav>
  </div>
</div>
<div class="row">
  <div class="col s3">
    <li class="center no-padding">
<div class="indigo darken-1 white-text" style="height: 180px;">
  <div class="row">
    <img style="margin-top: 5%;" width="100" height="100" src="https://www.askellusklinikka.fi/wp-content/uploads/2017/04/user_man-5129611.png" class="circle responsive-img" />

    <p style="margin-top: 7%;">
        {{{userid.firstname}}} {{{userid.lastname}}}
    </p>
  </div>
</div>
</li>
        <ul class="collapsible" data-collapsible="accordion">
          <li id="dash_users">
            <div id="dash_users_header" class="collapsible-header waves-effect"><b>Food Court</b></div>
            <div id="dash_users_body" class="collapsible-body">
              <ul>
                <div class="collection">
                    <a href="/foodcourt" target="_blank"  class="collection-item waves-effect" id="users_seller">Online Food</a>

                </div>
              </ul>
            </div>
          </li>

          <li id="dash_products">
            <div id="dash_products_header" class="collapsible-header waves-effect"><b>Forums</b></div>
            <div id="dash_products_body" class="collapsible-body">
              <ul>

                <div class="collection">
                    <a href="/forums" target="_blank"  class="collection-item waves-effect" id="users_seller">Visit</a>


                </div>

              </ul>
            </div>
          </li>

          <li id="dash_categories">
            <div id="dash_categories_header" class="collapsible-header waves-effect"><b>Complain</b></div>
            <div id="dash_categories_body" class="collapsible-body">
              <ul>
                <div class="collection">
                    <a href="/complain"  class="collection-item waves-effect " id="users_seller">Complain</a>
                    <a href="/complain/my"  class="collection-item waves-effect " id="users_seller">My Complains</a>

                </div>
              </ul>
            </div>
          </li>

          <li id="dash_categories">
            <div id="dash_categories_header" class="collapsible-header waves-effect"><b>General Info</b></div>
            <div id="dash_categories_body" class="collapsible-body">
              <ul>
                <div class="collection">
                    <a href="/events/show"  class="collection-item waves-effect" id="users_seller">Visit</a>

                </div>
              </ul>
            </div>
          </li>

        </ul>
      </ul>

      <header>



  </div>
  <div class="col s9 ">
    <main>
<div class="row">
  <div class="col s6 highlight">
    <div style="padding: 35px;" align="center" class="card">
      <div class="row">
        <div class="left card-title">
          <b>Looking For Teacher?</b>
        </div>
      </div>

      <div class="row">
        <a href="/teacher/show">
          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
            <i class="indigo-text text-lighten-1 large material-icons">person</i>
            <span class="indigo-text text-lighten-1"><h5>find here</h5></span>
          </div>
        </a>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>


      </div>
    </div>
  </div>

  <div class="col s6 highlight">
    <div style="padding: 35px;" align="center" class="card">
      <div class="row">
        <div class="left card-title">
          <b>Hungry?</b>
        </div>
      </div>
      <div class="row">
        <a href="/foodcourt" target="_blank">
          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
            <i class="indigo-text text-lighten-1 large material-icons">restaurant</i>
            <span class="indigo-text text-lighten-1"><h5>Find food!</h5></span>
          </div>
        </a>

        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>


      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s6 highlight">
    <div style="padding: 35px;" align="center" class="card">
      <div class="row">
        <div class="left card-title">
          <b>Looking for a location?</b>
        </div>
      </div>

      <div class="row">
        <a href="/find/location">
          <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
            <i class="indigo-text text-lighten-1 large material-icons">location_on</i>
            <span class="indigo-text text-lighten-1"><h5>find </h5></span>
          </div>
        </a>

        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>


      </div>
    </div>
  </div>


</div>


</main>
  </div>
</div>
