<!DOCTYPE>
<html lang="en" ng-app="myapp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewBiew Guide</title>
  <link rel="stylesheet" href="../assests/css/style.css"></link>


    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular.min.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>


</head>
<body>
  <ul id="slide-out" class="side-nav hoverable ">
    <ul class="row">
            <div class="col s6">
					<li><a href="#!"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home"><i class="fa fa-home"></i></a></li>
          </div>
            <div class="col s6">
					<li><a href="/forums" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Forums"><i class="fa fa-comment"></i></a></li>
          </div>

				</ul>

    <li><a href="#!aboutus"><i class="fa fa-info"></i>About</a></li>
      <li><a href="#!admissions"><i class="fa fa-graduation-cap"></i>Admissions</a></li>
      <li><a href="#!facilities"><i class="fa fa-user"></i>Facilities </a></li>
      <li><a href="#!placements"><i class="fa fa-handshake-o"></i>Placements</a></li>
      <li><a href="#!researches"><i class="fa fa-search"></i>Research</a></li>
      <li><a href="#!complain"><i class="fa fa-commenting-o"></i>complain</a></li>
      <li><a href="#!parents"><i class="fa fa-users"></i>Login</a></li>
      <li><a href="#!Campuslife"><i class="fa fa-bed"></i>Campus Life</a></li>
      <li><a href="#!contactus"><i class="fa fa-phone"></i>Contact Us</a></li>


   </ul>

   <!-- NAV BAR -->
   <div class="navbar-fixed">
         <nav id="navbars ">
           <div class="nav-wrapper">
             <ul class="left hide-on-med-and-down right">

               <li><a href="mailto:thakursachin467@gmail.com">Get In Touch</a></li>

      </ul>
      <a href="#!" class="brand-logo center "><img src="https://www.chitkara.edu.in/wp-content/uploads/2017/11/chitkara-university-logo.png" width='150px' height='150px' class="responsive-img"></a>

             <a href="#" data-activates="slide-out" class="button-collapse show-on-large left"><i class="material-icons">menu</i></a>
          </div>
      </nav>
    </div>


<div class="main-content">
  <div ng-view >


	</div>


</div>

<!-- footer starts here -->

<footer class="page-footer  grey darken-2 " >
            <div class="container ">
                <div class="row">
                    <div class="col md4 col-content ">
                        <h5 class="text-uppercase mb-4 mt-3">Explore</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://www.chitkara.edu.in">Our Website</a></li>
                            <li><a href="mailto:thakursachin467@gmail.com">Get In Touch</a></li>
                            <li><a href="#!complain">Complain</a></li>
                        </ul>
                    </div>




                    <div class="col md4 col-content ">
                        <h5 class="text-uppercase font-weight-bold">Our Institutions</h5>
                        <ul class="list-unstyled ">
                            <li><a href="#!" >Business School</a></li>
                            <li><a href="#!">Engineering & Technology</a></li>
                            <li><a href="#!">Applied Engineering</a></li>
                            <li><a href="#!">School of Planning & Architecture</a></li>
                            <li><a href="#!">School of Art and Design</a></li>
                            <li><a href="#!">College of Sales & Retail Marketing</a></li>
                            <li><a href="#!">School of Banking & Financial </a></li>
                        </ul>
                    </div>


                    <div class="col md4  col-content">
                        <h5 class="text-uppercase mb-4 mt-3">Live Here</h5>
                        <ul class="list-unstyled">
                            <li><a href="">Hostels</a></li>
                            <li><a href="">Transport</a></li>
                            <li><a href="">Sports</a></li>
                            <li><a href="">Cultural</a></li>
                            <li><a href="">Libraries</a></li>
                        </ul>
                    </div>




                </div>
            </div>


            <hr>


            <div class="categories-container pin-top center">
                <ul class="list-inline">
                    <li ><a class="btn-floating btn-sm btn-fb mx-1 hoverable" href="https://www.facebook.com/ChitkaraU/"><i class="fa fa-facebook"> </i></a></li>
                    <li ><a class="btn-floating btn-sm btn-tw mx-1 hoverable" href="https://twitter.com/ChitkaraU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"> </i></a></li>
                    <li ><a class="btn-floating btn-sm btn-gplus mx-1 hoverable" href="https://www.instagram.com/chitkarau/?hl=en"><i class="fa fa-instagram"> </i></a></li>
                    <li ><a class="btn-floating btn-sm btn-li mx-1 hoverable" href="https://en.wikipedia.org/wiki/Chitkara_University"><i class="fa fa-wikipedia-w"> </i></a></li>
                </ul>
            </div>



            <div class="footer-copyright center">
                <div class="container">
                    © 2018 Copyright: <a href="https://www.chitkara.edu.in"> Chitkara University </a>

                </div>
            </div>


        </footer>

  <!--footer ends here -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

<script type="text/javascript" src="../assests/js/app.js"></script>
<script type="text/javascript">
(function(){

  $(".button-collapse").sideNav();

  $('.button-collapse').sideNav({
   menuWidth: 300, // Default is 300
   edge: 'left', // Choose the horizontal origin
   closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
   draggable: true // Choose whether you can drag to open on touch screens
 }
);

})();
</script>


</body>
</html>
