body, html {
    height: 100%;
    margin: 0;
}



.main {
  background-image: url('../images/test.jpg');
  min-height:100vh;
  min-width: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.facility {
  min-height: 100vh;
  background-color: white;
}
.main2 {
  height: 20%;
}

.nav {
  display: none;


}
nav ul li a{
  color: black;
}
nav a{
  color: black;
}

.ptext{
  position:absolute;
  top:30%;
  width:100%;
  padding-left: 10%;
  text-align:left;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext1 {

  width:100%;
  padding-left: 10%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;

}
.ptext1 .border2{

  color:#fff;
  padding:20px;
}
.ptext1 .border2{
   display: inline-block;
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border{

  color:#fff;
  padding:20px;
}
.ptext .border1{
   display: inline-block;
  background-color:#111;
  color:#fff;
  padding:20px;
}



.ptext .border.trans{
  background-color:transparent;
}


.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  text-emphasis-color: black;
}


.col-content {
  margin-left: 10%;
}
