<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/chitkara-university-map.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">About Us</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">Chitkara University, the best university in Punjab is a government-recognized university with the right to confer degrees as per the Sections 2(f) and 22(1) of the UGC Act, 1956. The sprawling campus of the University is equidistant from Chandigarh, Mohali, Panchkula, Ambala and Patiala.

The University offers multi-disciplinary programs, all of which are designed to be industry-relevant. As a result of this student-centric approach, Chitkara University is renowned as one of the best private universities in the North India region. Curriculum is delivered in spacious, amphitheatre-style classrooms—fitted with modern information and communication technology (ICT) equipment—and in well-equipped, modern laboratories. The University has at the centre of its philosophical core the commitment to excellence in education. It is the strong academic heritage of the University, and such firmness on matters of principles that has seen it grow from strength to strength in such a short span of time.

Why Chitkara

Chitkara University, Punjab is a leading non-profit private University of India with ‘state of the heart’ campus being located 30 kms from Chandigarh. Since the inception, Chitkara Education has been different. Our students have been different. So are our faculty, our academic strengths and our outlook on teaching and learning. The unique difference being that Chitkara University has been established and managed by passionate academicians with the sole mission of making each and every student “Industry ready”.

Most of our academic programs are ranked among the best in the country which speaks volumes about our strong academic heritage, highly committed faculty, extensive Industry collaborations and strong campus recruitment.</p> <br>
<p>Our logo depicts the arrows in soaring heights, promising everlasting progress. It also illustrates the interlinking of our key stakeholders namely Students, Parents, Faculty, Alumni, Industry and Society as a whole, working in synergy towards a common goal which is the “Everlasting Success of Each Chitkara Student and creating them as responsible citizens”. The colour Red denotes Energy & Passion to “Explore Our Potential”.</p>



    </div>


</div>
