<div class="row">
  <div class="col s12 center" style="margin-top:15px; ">

    <img src="http://mifa.vse.cz/wp-content/uploads/2017/06/graduation-celebration-silhouette.png" width="1400px" height="1400px" class="responsive-img">


  </div>
  <div class="col s12">
    <h5><b>ADMISSION </b><b style="color:red;">PROCEDURE</b></h5>
    <p>The admission procedure will commence after an eligible candidate has applied for admission and his application has been received in the admission office within the due date.</p> <br>
    <section class=" grey lighten-2" style="padding:15px;">
      <h5> <b>Counseling Process </b></h5>
      <p>The aim of the counseling process is to extend a helping hand to potential scholars and facilitate their search for the program of their choice. <br>

Candidate would have to personally appear before the Counseling committee on the date and time specified. Failure to do so will result in rejection of the application. The candidates would be required to be in possession of the documents as given in the IMPORTANT INSTRUCTIONS at the time of counseling.</p>
    </section>


    <section class=" grey lighten-2" style="padding:15px;">
      <h5> <b>Allocation of Seats </b></h5>
      <p>The seats in the various programs will be allotted based on merit- ranking of the student in the specified entrance test subject to fulfilling the minimum eligibility criteria for the program and the preferences indicated in the counseling form at the time of counseling (as per availability of seats).</p>
    </section>


    <section class=" grey lighten-2" style="padding:15px;">
      <h5> <b>Payment of Fees and Confirmation of Seat </b></h5>
      <p>Students will be admitted only after receipt of full fee at the time of counseling.<br>
        <ol>
          <li>The fee shall be paid either in cash or by Demand Draft in favour of “Chitkara University” payable at Chandigarh. Cheques shall NOT be accepted.</li>
          <li>
All enrolled students have to pay their fee twice a year in the months notified by the university.</li>
<li>Delayed payment of fee will attract a fine as per the rules and regulations of the University.</li>
        </ol>
</p>
    </section>


    <section class="grey lighten-2" style="padding:15px;">
      <h4> <b>GENERAL INFORMATION </b></h4>
      <h5><b>REGISTRATION</b></h5>
      <p>The candidate must get registered for a program on the first day of the academic session. If a student fails to register and continuously absents himself/ herself for a period of one week or more then his/her name shall be struck off the rolls of the University.</p>
      <h5><b>UNIFORMS</b></h5>
      <p>
The students of Chitkara University are required to wear the prescribed uniform on all working days.</p>
        <h5><b>ATTENDANCE</b></h5>
        <p>University is of the view that regular attendance of the classes would go a long way in ensuring that a student derives full benefit from the academic delivery at the University. Accordingly, University lays a lot of emphasis on regular attendance of the classes. To be eligible for any university course examination 75% attendance is mandatory.</p>
          <h5><b>LAPTOP</b></h5>
          <p>
All candidates granted admission to Bachelor of Engineering (B.E.) and Master of Computer Applications (MCA) are required to be in possession of a laptop computer. The configuration of the laptop will be available on the University website. A student is free to buy the laptop of the required configuration from the place of his/her own choice.</p>
      <h5><b>FEE PAYMENT SCHEDULE</b></h5>
      <p>Students will be admitted only after receipt of full fee at the time of counseling.
      <ol>
        <li>The fee shall be paid either in cash or by Demand Draft in favour of “Chitkara University” payable at Chandigarh. Cheques shall NOT be accepted.</li>
        <li>All enrolled students have to pay their fee twice a year in the months notified by the university.</li>
        <li>Delayed payment of fee will attract a fine as per the rules and regulations of the University.</li>
      </ol></p>
      <h5><b>FEE REFUND RULES</b></h5>
      <p>Fees once paid will be refunded in full subject to a deduction of Rs.1000/- towards processing charges and Rs.2500/-
towards counseling fee if application of withdrawal is made on or before commencement of the session.

In case withdrawal application is made after the commencement of the session fees will be refunded after a pro rata deduction along with deduction of Rs.1000/- towards processing charges and Rs.2500/- towards counseling fee.
<b>The fees shall be refunded within 120 days of the commencement of the academic session if the refund application is
submitted before the start of the session</b></p>
    </section>

  </div>
</div>
