<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://bfsi.chitkara.edu.in/wp-content/uploads/2016/04/Banner.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Doctoral Programs In Applied Sciences (Ph.D)</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;"><p>The Department of Applied Sciences at Chitkara University offers PhD program with an excellent research plan in the broad area of theoretical and experimental Physics, Chemistry Maths and Environment Sciences. The doctoral program provides intensive training and experience in important areas of current research to prepare students for academic and research positions in academia and industry.The department has highly qualified and senior faculty members committed to impart high-quality research in pure/applied areas of Sciences. The research interests of the faculty members cover a broad range of areas, such as Nuclear Physics, Condensed Matter Physics (Liquid Crystal), Radiation Physics, Materials Science, Nano Materials, Water Technologies, Environment Sciences and others.</p>
		<p>
			The program has been designed keeping in view recent advances and developments in the relevant research fields and also in accordance with the UGC norms. A primary requirement for the PhD degree is an original and significant research contribution. The department is equipped with laboratories (Modern Engineering Physics Lab, Optics Lab and Nanomaterial Synthesis Lab) and computational facilities.
		</p>


    </div>


</div>
