<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2016/12/Slider-image-1.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Chitkara School of Art & Design</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">
                <p>Graphic Design programs at Chitkara School of Art and Design is geared to produce illustrators, advertisers, and graphic designers who will be widely recognized, actively sought, and well paid for their command of these highly coveted skills and talents.</p>
  <p>By choosing to begin their degree at Chitkara University, students get a competitive edge by spending two years on our state-of-the-art campus, working closely with full-time faculty and industry professionals – an experience that will be similar to the best design schools of the world. After the end of year 2, students will have the option of doing their internships
        with best of industry partners across the country towards their credits for the 3rd and 4th year.

        Our BFA programs in Graphic Design will encompass four levels of training: hands, eyes, mind and social conscience. This comprehensive approach will pay great dividends in the job market, where Chitkara graduates will distinguish themselves by earning top design jobs – including managerial positions at creative agencies throughout the country.</p>
        <h2>For the Current Academic year, we are offering the following programs:</h2>
        <p>4 year BFA programs in</p>
        <ul style="color: red;">
          <li>Applied Art</li>
        </ul>
        <p>4 year B.Des Programs in</p>
        <ul style="color: red;">
           <li>Animation</li>
           <li>Interior Design</li>
           <li>Game Design</li>
        </ul>
        <p>3 Year B.Sc Programs in</p>
        <ul style="color: red;">
          <li>Animation</li>
          <li>Interior Design</li>
        </ul>




              </p>
    </div>


</div>
