<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://bfsi.chitkara.edu.in/wp-content/uploads/2016/07/Slidder-Image-2.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Chitkara School of Banking & Financial Services</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <p><h3>With Insurance and Financial services sector growing multi folds each year, it carries the potential to create lakhs of jobs in the near future. With the growing injection of funds into Insurance and Banking Sector, due to growing FDI in Insurance and autonomy with RBI in granting Banking licences, this industry is bound to create massive opportunities in such domains.</h3></p>
		<p>
			CA Aman Chugh, a known brand in the world of Financial Markets, and his team of experts mapped the current discontinuity in the skill set and education structure. The existing structure lacks the practical application of the concepts. Few certifications and MBA courses are available in the market relating to Financial Planning and Insurance. However, they lack in substance, in the sense that they are miles away from delivering the practical and applicable knowledge to the candidates. CA Aman Chugh realized that this gap needs to be bridged and in order to fulfill the gap and upscale the overall development of current and potential workforce, he and his team of practical experts collaborated with Chitkara University. Chitkara University carries the same belief and tradition of upscaling every student with practical and live exposure. Course curriculum and hand holding delivered at our campus in various programs is a reflection of the practical exposure a candidate gets during his course of study.
		</p>
		<p>
			Another face of the program is that it is in line with the growth of “Make in India” initiative started by our Honourable Prime Minister Sh Narendra Modi. With “Make in India” in progress, flow of money will massively increase and there shall be significant need for experts in Financial Planning and Financial Services whether as Entrepreneur Consultants or Job capables.To sum up MBA/ Diploma in Insurance and Financial Services serves anyone and everyone who is either currently working in this domain or plans to start a career in this booming vertical.Hence the Chitkara School of Banking & Finance originated to cater to such and similar industry required and delivered educational programs
         </p>
    <div class="row">
    	<div class='col-md-12'>
         <p><b>2-Year MBA in Insurance & Financial Planning</b></p>
		<p>
			MBA in Insurance and Financial Planning is a distinctive program designed to cater to the needs of the Insurance Cohorts, Prospective Financial Planners, and the Housemakers. The program is a judicious blend of Classroom Coaching, Virtual Handholding & Live Practical Exposure during the course of two years.
		</p>
        <p><b>4-YEAR INTEGRATED BBA-MBA IN INSURANCE & FINANCIAL PLANNING</b></p>
		<p>
			Integrated BBA-MBA in Insurance and Financial Planning is a distinctive program designed to cater to the needs of the Insurance Cohorts, Prospective Financial Planners, and the Housemakers. The program is a judicious blend of Classroom Coaching, Virtual Handholding & Live Practical Exposure during the course of 4 years.
        </p>
        <p><b>1-Year Diploma in Banking & Insurance Planning</b></p>
		<p>
			Diploma in Insurance and Financial Planning is a distinctive program designed to cater to the needs of the Insurance workforce, Prospective Financial Planners, and the Housemakers.
        </p>








                </p>


    </div>


</div>
