<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2015/01/MBA_b1.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">CHITKARA  BUSINESS SCHOOL</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <p>Personal attention. Small classes. Student-centered education. Outstanding teachers. And strong collaborations with blue-chip companies. That is Chitkara Business School in nutshell.</p><br>
      <p>MBA programs at Chitkara Business School aim even higher and go beyond the traditional approach of imparting an analytic framework to solving problems.</p><br>
      <p>Our programs enable you to find the route to success at the intersection of theory and practice, discover and implement innovative solutions to real-world problems. The main focus of management programs at Chitkara Business School is to make each and every graduate industry-ready and exposed to latest trends in the dynamic business world providing them the facilities of the best business schools in North India.</p><br>
      <p>Our holistic educational approach is designed with an intensive focus to equip you with a total skill set comprising hard knowledge skills, soft people skills and ‘heart’ skills. You will be equipped with both depth and breadth of knowledge. You will be transformed into a well-rounded individual, and become a valuable asset to your future employer and society at large.</p>









                </p>

    </div>


</div>
