<div class="row">
  <div class="col s12 center" style="margin-top:15px; ">

    <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/Campus_Banner.jpg" width="1400px" height="1400px" class="responsive-img">


  </div>
  <div class="col s12 grey lighten-2" style="margin-top:15px; ">
    <h4><b>CAMPUS LIFE</b></h4>
    <p>A vast range of cultural, educational, athletic and social activities are available to Chitkara University (CU) students, faculty and staff. Getting involved in campus life is the quickest way to become a part of the University community, and to create one’s own Chitkara experience. Campus life activities are built around the concepts of encouraging each community member to express his or her talents and to respect all members of our pluralistic community.<br>
      Living and learning are intimately intertwined at our University campus. Extra-curricular programs, organizations, performances, forums and athletics beckon students, faculty and staff, as well as neighbors from the communities around us.
        <br>Our University campus boasts of a world-class infrastructure comprising unsurpassed facilities to ensure contented environment to our students for enabling them to derive the utmost from what we have to offer. What makes all Chitkara campuses diverse is the feel of these campuses that drench the students in gratifying experience like never before.<br>
        Chitkara University’s diverse student population makes it hard to describe the typical student and even harder to describe the quintessential Chitkara student experience. Students come from all over the country and from across the globe comprising cities, suburbs, small towns and rural area; from public, private and parochial schools; from every ethnic and religious background; and from across the economic spectrum. Based on longstanding tradition and an extensive pattern of education programs, CU is committed to making educational opportunity accessible to all. Chitkara has always believed in going international as our students are not only leaders on the domestic front but also in the global arena. A clear amalgamation of various cultures in the campus stands as a stark example of Chitkara’s global environment that it creates within its campus.<br>


        <h6><b>Arts & Culture</b></h6>
        <p>Chitkara University has a rich tradition of fostering creativity and the arts. We have many student run organizations and campus events which are completely managed by our student community.</p>

        <h6><b>Some of our Student Clubs are:</b></h6>
        <p>EBUZZ, MATRIX, SEAGULLS, BIT AND BYTES, MECHSTEIN, ELECRAMA, C2S2</p>

        <h6><b>Some of our Major Campus Events are:</b></h6>
        <p>Pratibimbh, Praudyogikii, Algorythm, Techelone, Gameeks, C-Champ, T-20 Cup, University Sports Meet, Quest-ions, Chitkara Mandi, Annual Convocation</p>

        <h6><b>Sports Facilities<br>
At Punjab Campus and Himachal Pradesh Campus</b></h6>
<p>The infrastructure has been designed with good facilities for sports as well as recreational activities. The University has top sports facilities including the following:</p>
<ul>
  <li>All-weather athletics track</li>
  <li>Cricket ground</li>
  <li>Football grounds</li>
  <li>Hockey fields</li>
  <li>Handball field</li>
  <li>Tennis court</li>
  <li>Basketball courts</li>
  <li>Baseball court</li>
  <li>Badminton courts</li>
  <li>Volleyball courts</li>
  <li>Kabaddi courts</li>
  <li>Table tennis facility</li>
  <li>Fitness and strength conditioning centres</li>
</ul>

    </p>
  </div>
</div>
