<div class="row">
  <div class="col s12 center" style="margin-top:15px; ">

    <img src="https://i0.wp.com/fish4jobsb2c.wpengine.com/wp-content/uploads/2016/11/Fotolia_104708433_Subscription_Monthly_M.jpg?resize=860%2C280&ssl=1" width="1400px" height="1400px" class="responsive-img">


  </div>
    <div class="col s12 center-align grey lighten-2"  style="margin-top:10px;">
      <h3 ><b>CONTACT</b> <b style="color:red;"> INFORMATION</b></h3>

      <h5><b>Administrative Office:</b></h5>
      <p>Saraswati Kendra, <br>
SCO 160-161, Sector 9 C, <br>
Chandigarh 160 009, India. <br>
Telephone: +91-172-4691800,+91-172-2746209</p>

<h5><b>Admission Helpline:</b></h5>
<p>Tel : Sandeep Sharma : 9501105714,<br>
Umed Saini : 9501105715 <br>
Email : admissions@chitkara.edu.in</p>

<h5><b>Chitkara University, Punjab:</b></h5>
<p>Chandigarh-Patiala National Highway (NH-64) <br>
Punjab-140 401, India <br>
Tel:- +91.1762.507084-86, Mandeep Berwal – 9501105718</p>

    </div>

</div>
