<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2017/03/explore-for-website.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Cultural Fest</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                Catering to creative needs and artistic geniuses from the fashion world, Charisma was a magnificent treat for all with the theme Cinema Paradiso. Exemplifying a carnival of pure musical enchantment was Soundcheck. Step Up made everyone shake a leg or two being a dance event with Ethnic Conexion showcasing India’s folk dances. Scavenging Hunters was all about winning a treasure and Jocular Resonance proved to be a stupendous platform to hone vocabulary and rhetoric skills. Battle of Chefs saw chefs cooking delicacies to win everyone’s taste buds and Art Alley saw students play with colours.

  Retrica gave a chance to blend divergent thinking in photography with a fascinating theme and exciting conditions. Roadies was about testing brawn and wit until there were none left. Cinematic Trivia made students test their knowledge about the movies, songs, dialogues and know the whole new rejuvenated cinema again.

  Rythmic Beat won hearts through dance, The Singing Sensation was about vocal bliss, Act Aloud gave wings to acting, Mr and Miss Panache showcased elegance, the persona and style statement. Artiste Factor saw comedy, beat boxing or mono acting and Spotlight was about versatility and acting. Laser Maze made students jump, crawl, kneel, bend or invent to navigate through the thrilling laser beams. Laser Tag saw students playing counter strike game in a real scenario basis, while Try A Lie made students explore their sarcastic side. Adventure Sports spelled thrill and Hoopster was all about basketball. Gameeks was for students who have passion for gaming as powerful as a weapon.

  With some impressive sponsors and a lot of efforts from students and faculty of Chitkara University, the fest proved to be a great event with Agnee band rocking with the students. Agnee is known for its deep-rooted Indian sound, hummable tunes and live wire performances. Apart from this, renowned DJ NYK created music, magic and mayhem. He was also on Radio Chitkara and spoke to the masses about various things. Jimmy Shergill and Shruti Sodhi shared the stage with Dr Madhu Chitkara and gave an interview to Radio Chitkara. Angad Singh Ranyal gave a new twist to comedy at the event.

  The event ended on a high note and will remain fresh in our memories until we return with more to explore.






                </p>

    </div>


</div>
