<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2015/01/Top-Banner.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">CHITKARA ENGINEERING AND TECHNOLOGY</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <h3>For the current academic year we are offering the following program</h3>
	<ol>
		<li><b style='color:red;'>4 Year B.E. Programs in</b></li>
		<ul>
			<li>Computer Science &Engineering</li>
			<li>Electronics & Computer Engineering</li>
			<li>Electronics & Communication Engineering</li>
			<li>Mechanical Engineering</li>
			<li>Electrical Engineering</li>
			<li>Civil Engineering</li>
			<li>Mechatronics Engineering</li>

		</ul>
		<li><b style='color:red;'> B.E Lateral Entry Programs in</b></li>
		<ul>
			<li>Computer Science &Engineering</li>
			<li>Electronics & Communication Engineering</li>
			<li>Civil Engineering</li>
		</ul>
		<li><b style='color:red;'>M.E. Programs</b></li>
		<ul>
			<li>Computer Science &Engineering</li>
			<li>Electronics & Communication Engineering</li>
			<li>Mechanical Engineering</li>
			<li>Applied Sciences</li>
        </ul>
        <li><b style='color:red;'>I.T. Programs</b></li>
		<ul>
			<li>Computer Science &Engineering</li>
			<li>3 Year BCA</li>
			<li>2 Year MCA(Lateral)</li>
			<li>5 Year Integrated BCA-MCA</li>
	    </ul>

     </ol>





                </p>

    </div>


</div>
