<div class="row">
  <div class="col s12 center" style="margin-top:15px; ">

    <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/Chitkara_university_Infrastructure-1.jpg" width="1400px" height="1400px" class="responsive-img">


  </div>

  <div class="col s12 grey lighten-2" style="margin-top:10px;">
    <h4><b >CAMPUS</b> <b style="color:red;">INFRASTRUCTURE</b></h4>
    <b>In order to achieve its ambition of being a world-class education provider, Chitkara University (CU) is committed to significant enhancement of its facilities and buildings, essential for world-class research and all-round development of students. The University has an extremely modern and state-of-the-art infrastructure that goes a long way in facilitating a number of services for the students as well as the staff members.</b>
    <p>

      <h5><b>CLASSROOMS</b></h5>
      <h6><b>The place for focused learning</b></h6>
      <p>The spacious, amphitheatre-style classrooms in the University provide the most conducive atmosphere for dynamic and focused discussions. They have been designed to bring together analysis with action and are augmented with integrated audio–visual teaching aids for lectures, presentations etc. Special sessions and classes are also held on business etiquettes, negotiation skills, effective communication, leadership, teamwork and analytical skills</p>
    </p>
    <p>
      <h5><b>AUDITORIUM</b></h5>
      <h6><b>A platform for interface</b></h6>
      <p>Chitkara University provides state-of-the-art conference halls with a seating capacity that act as a common ground for students, faculty and corporate personalities for regular interfaces, conferences and other events. At these platforms, you will come across various global thought leaders, academic gurus and corporate heads who will share their corporate experiences with you. For events of a smaller scale, the seminar halls, equipped with advanced presentation tools, are the ideal venue</p>
    </p>

    <p>
      <h5><b>COMPUTING FACILITIES</b></h5>
      <h6><b>Imparting knowledge in the most hi-tech environment</b></h6>
      <p>All CU campuses are inter-connected through a highly secure virtual private network, where personal computers (PC) are inter-connected to the Internet through broadband connection. All our campuses have state-of-the-art computer centres that provide computing facilities comprising of the latest computer machines linked to a wide range of software, communication and print services.
Most campuses are fully wireless and students in many programs are provided with wireless laptops to help them access the Internet anytime, anywhere. Latest software. are used to enable work on data analysis, web technologies and software designing. The intranet enables close on-line interaction between faculty and students for online interaction.</p>
    </p>

    <p>
      <h5><b>CAFETERIA</b></h5>
      <h6><b>What you eat is what you are!</b></h6>
      <p>A healthy mind can only reside in a healthy body. Hence, all cafeterias have menus that are designed by a team of professional dieticians, and offer nutritious and wholesome food to ensure a well-balanced diet. Fresh fruit juices, milkshakes, ice creams sundaes and even midnight snacks are available in these cafeteria.</p>

      <p>
        <h5><b>MEDICAL FACILITIES</b></h5>

        <p>A healthy body makes for a healthy mind. In order to ensure your well-being, Chitkara University has tie- ups with renowned hospitals to take care of any kind of emergency. At CU, you will be covered by a comprehensive medical insurance to meet all kinds of exigencies.</p>
      </p>

  </div>

  <div class="row">
    <div class="col s3">
      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/class1.jpg" height="300px" width="300px" class="image-responsive">
    </div>
    <div class="col s3">
      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/computting.png" height="300px" width="300px" class="image-responsive">
    </div>
    <div class="col s3">
      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/library-facilities.png" height="300px" width="300px" class="image-responsive">
    </div>
    <div class="col s3">
      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/TQ-image.jpg" height="300px" width="300px" class="image-responsive">
    </div>
  </div>
</div>
