<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="http://management.ind.in/img/i/Hostel-facility-in-Chitkara-University-1.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">HOSTEL FACILITIES</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <p>Students  are  expected  to  behave  well  with  all  Hostel  Staff  including  Wardens,  Mess
           Staff, HK Staff, Maintenance Staff, IT Staff and Security Staff.Students reacting in a rude/impolite manner will not be acceptable.Misbehavior with Staff will lead to strict action against the student.Using services of the staff for private errandsis not permitted. </p>
		<p>Students  residing  in  the  hostel  are  expected  to  display  good behaviour. To  ensure  that  all students can avail the facilities and to ensure a comfortable stay for all the students in the hostel, students are expected to follow the laid down rules and regulations.
        Students violating rules would be dealt with strictly and the behavior shall be recorded. Decision of Disciplinary Committee shall be recorded for all cases.
        Students involved in more than one disciplinary case or any one serious disciplinary case would  not  be  permitted  to  be  Office  Bearers  of  any CLUB  of  the  campus for the  whole academic Session.
        All Misbehaviors of students shall be informed to PARENTs and HODs.Habitual offenders can be refused accommodation in the campus.Students  have  the  right  to  plead  against  their  case.  During  the  periods  pending
        decisions,   the   student   shall   continue   to   be   in   the   hostel.
 </p>






                </p>

    </div>


</div>
