<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2013/07/library_punjab.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Chitkara Library</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">
                <p>
			The library services are the cornerstone of the education system at Chitkara University, Punjab, India. The mission of our library services is to facilitate creation of new knowledge through acquisition, organization and dissemination of knowledge resources.The University libraries offer a wide range of materials in a variety of formats—from traditional books and serials to films, and multimedia and networked information from around the world. Highly skilled staff assists students to use the local collections and find information on specific topics. Our libraries are a learning space where students are inspired to explore, research and create. Our libraries are not only the places to think, but also an informal work area where students gather to collaborate.
		</p>
		<p>
			Our Learning Resource Centre has a total collection of over more than 72,179 books covering all disciplines of Science, Engineering, Technology, Management, Nursing, Architecture and Planning, Pharmacy, Hospitality, Education and Media. Furthermore, the students have access to more than 211 printed journals, 138 print national magazines and 459 online international magazines apart from daily newspapers. The University has access to a large number of e-resources like IEEE Xplore Digital Library, knowledge-hub, ProQuest ABI/INFORM Global, Science Direct (Pharmacy), e-books from GIST and DELNET.
            All activities of Learning Resource Centre are computerized, including bar-coded ID Cards and separate On-line Public Access Catalogue (OPAC) terminals to know the status of books at any time. Library is kept open 8:00 AM to 10:00 PM.
		</p>



                </p>

    </div>


</div>
