<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://www.chitkara.edu.in/wp-content/uploads/2015/01/architecture-banner2.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Planning And Architecture</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <h2>Program structure</h2>
			<p>
				We offer 5-Year Bachelor of Architecture program that emphasizes the physical realization of ideas where priority is placed not upon theory or practice in isolation but in concrete and poetic possibilities of their integration.
			</p>
			<h2>Hands On Training</h2>
			<p>
				With a view to achieve our objectives in line with our mission, the school has been pursuing multifarious activities over and above our normal teaching and learning process.
                To illustrate the same, some of the important pursuits are as listed below:
                <ul>
                	<li>Expert lectures by eminent academicians and practicing architects.</li>
                	<li>Conferences, Seminars, Workshops and Exhibitions for teachers and students on various themes and topics.</li>
                	<li>Educational tours involving in-depth study, analysis and documentation of historical sites / precincts.</li>
                	<li>Participation in various international, national and zonal forums and competitions for national and international exposure to our students.</li>
                	<li>Undertake extension projects that promote societal sensitivity and community welfare.</li>
                </ul>
			</p>
			<h2>C.CASA</h2>
			<p>Chitkara Centre for Advanced Studies in Architecture
             Chitkara School of Planning & Architecture has an intensive focus on research and knowledge building – an activity taken up through the Chitkara Centre for Advanced Studies in Architecture. The primary objective of the Centre is to build up a database of the innumerable territories of the built environment of India and also provide resources for conduct of specialized studies related to the same. Activities taken up through the centre include conduct of continuing Education programs, public lectures, conferences, with a special focus on studies and documentation of the lesserknown and built traditions of India.
             </p>
             <p>
             	Some of the significant studies completed by our faculty and students over the last few years include those of early twentieth century Sadar Area of Ambala Cantonment in Haryana, several historic buildings on the Mall Road and Baradari of Patiala in Punjab; temples, sarovars and river ghats of the sacred Braj Region in Uttar Pradesh and, a few residential and public buildings of Garli in Himachal Pradesh.
                The Centre is fully equipped to undertake research publications, and is also mandated to bring out “Creative Space (CS)”, the bi-annual academic journal of Chitkara University.
             </p>
             <h2>DESIGN YOUR DREAMS</h2>
             <p>
             Architecture is a great field of study for those who are artistically talented and interested in creative design and the built environment. Our Architecture program allows students to tap into their creative talents, introduces them to the challenging world of building design and construction, and prepares them to become change agent of the future. Chitkara students develop critical thinking, research and analysis skills, and an ability to engage theory and culture with an understanding of how these forces work together in the built environment.

             The first two years of the program prepare students in the fields of design, drawing and computer applications. Computer integration in the design studios is emphasized in the second year. While developing skills in design, drawing, computer applications and construction, students also study history, social science and humanities.

             In the 3rd and the 4th year, the focus is on teaching the principles of building construction, civil structures, construction management, town planning followed by Architectural Design Thesis.

             In the last year of the program, students get “earn while you learn” opportunity with reputed Architectural offices and construction companies across the world.
             </p>
			






                </p>

    </div>


</div>
