<div class="row">
  <div class="col s12 center" style="margin-top:15px; " >

    <img src="https://www.chitkara.edu.in/wp-content/uploads/2014/02/chitkara_university_eyp.jpg" width="1400px" height="1400px" class="responsive-img">


  </div>

  <div class="col s12 grey lighten-2" style="margin-top:15px;">
      <h4><b>FUNDED PROJECTS</b></h4>
      <p>It is one of the goals of Chitkara University (CU) to improve its research performance by building a critical mass of researchers who will develop a distinctive portfolio of high-quality discovery, and applied and commercial research.

The University is in the process of building a vibrant research culture for fostering outstanding research programs in areas relevant to our future. As a student, you will be taught by leading researchers and will be exposed to leading-edge research and technology.

Both the faculty and doctoral scholars actively involve themselves in research projects. Interdisciplinary research, a system-level approach, and close ties to industry combine to yield up-to-date research. Strong ties with industry complement these top-notch research opportunities. Through research centre–industry liaison programs and departmental advisory boards, faculty and students work towards future technologies. A lot of our research initiatives are under the funding consideration from DST and other related agencies.

The students and faculty take part in national/international conferences as well as workshops and seminars in their areas of interest. Faculty members are constantly involved in research publications and quality improvements programs. This approach helps the faculty in taking the students’ imagination beyond classrooms teaching to actual scientific exploration</p>


<br>
<p>Chitkara University is one of the only two institutions in India that received the prestigious HP Innovation Grant of USD 1,70,000 and one among five institutions selected from Asia-Pacific, including Japan, for creating technology that is accessible to everyone as a way to learn, work and benefit from information.</p> <br>
<p>The UK India Education and Research Initiative (UKIERI) has been started to enhance educational links between India and the UK. In recognition of the substantial success of this initiative, an extension was announced by the prime minister of UK Mr David Cameron and Prime Minister Dr Manmohan Singh. In this regard various subjects are being funded through the money pooled by both the governments. Under the UKIERI Project Grant, senior faculty member of Chitkara University, Mr Suman Nandi—he is Deputy Dean, Planning and Development—was awarded the grant and visited Glasgow Caledonian University (GCU), Scotland.

The purpose of this project is to exchange knowledge and ideas to support the educational attainment and social integration of students carrying out part of their studies in either the UK or India. The focus of the exchange will be the identification and management of differences in teaching practice, and the use of technology to support learning. Over a period of four weeks Mr Suman Nandi from CU worked at GCU with experts within one of its largest student support units, the Learning and Development Centre in the School of Engineering and Built Environment. Staff had two main tasks during the project period: they explored the key differences in teaching styles between CU and GCU, and the studied the impacts these differences have on exchanging students.</p>

<br>
<p>  For more Info <a href="https://www.curin.chitkara.edu.in/" target="_blank">visit here</a></p>

  </div>



</div>
