<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://i.ytimg.com/vi/-jkP4BSvkX8/maxresdefault.jpg" width="1400px" height="1400px" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Sports</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <p>At Punjab Campus and Himachal Pradesh Campus

         The infrastructure has been designed with good facilities for sports as well as recreational activities. The University has top sports facilities including the following:
        All-weather athletics track
    <ul>
    Cricket ground
    Football grounds
    Hockey fields
    Handball field
    Tennis court
    Basketball courts
    Baseball court
    Badminton courts
    Volleyball courtss
    Kabaddi courts
    Kho-kho court
    Table tennis facility
    Well-equipped boxing arena
    Fitness and strength conditioning centres
    Facility for aerobics and dance
    Grass pitches
    Indoor strengthening and weight-training gymnasiums
</ul>

Our University hostels believe in by and large sprucing up of our students. We have a dining hall, common areas, and recreational and cultural spaces that help give them each a distinct character. Our residential facilities have their own unique history and traditions, determined by our students that bring the students together and help to foster the close and long-lasting ties amongst the residents of every residential facility that CU provides.

		</p>





                </p>

    </div>


</div>
