<div class="row">
    <div class="col s12 center" style="margin-top:15px; ">

      <img src="https://novate.chitkara.edu.in/images/epip/Transport-management-system.jpg" width="1400px" height="100vh" class="responsive-img">


    </div>
    <div class="col s12 grey lighten-2" style="margin-top:10px;">
            <h1><b style="color:red;">Transport</b></h1>
              <p style="font-family: Arial, Helvetica, sans-serif;">

                <p>Generally universities used to have a fleet of buses that various nearby places to that university or college. Majority of faculty and students commute by the university buses. Assuming a well-planned parking for buses in the university premises, there is a need to manage the transportation systems in terms of locating buses while departing, departure of buses in order, parking order of buses and information to the commuters (in case the buses are not leaving on time due to some reason) is an important factor. The need of communication to the commuters also arises when the buses are combined and the students/ faculty do not get to know which bus they need to board. We propose a smart solution using mobile smart phones to overcome all the above limitations to provide ease and comfort to the commuters.
  		</p>





                </p>

    </div>


</div>
