<section>
<div class="image-responsive main">
  <div class="ptext">
  <span class="border">
  <h3>welcome to</h3>
  <h3>  Chitkara University </h3> </br>
  <span class="border1">
      Explore Your potential
  </span>
  </span>
</div>
</div>
</section>

<div class="facility row">
<!--  <div class="ptext1">
  <span class="border2">
    facilities we provide
  </span>
</div> -->
<div class=" main2">
<div class="row">
    <div class="col s12 m4 main3">
      <div class="card hoverable small">
    <div class="card-image">
      <img src="http://via.placeholder.com/350x150">
      <span class="card-title">Teacher Info</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="#!teachersinfo">Visit Now</a>
    </div>
  </div>
    </div>
    <div class="col s12 m4 main4">
      <div class="card hoverable small">
    <div class="card-image">
      <img src="http://via.placeholder.com/350x150">
      <span class="card-title">Forums</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="/forums" target="_blank">Visit Now</a>
    </div>
  </div>
    </div>
    <div class="col s12 m4 main5">
      <div class="card hoverable small">
    <div class="card-image">
      <img src="http://via.placeholder.com/350x150">
      <span class="card-title">College Map</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="#!map">Visit Now</a>
    </div>
  </div>
    </div>
</div>
<div class="row ">
  <div class="col s12 m4 main6">
    <div class="card hoverable small">
  <div class="card-image">
    <img src="http://via.placeholder.com/350x150">
    <span class="card-title">General Info</span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="#!general">Visit Now</a>
  </div>
</div>
  </div>
  <div class="col s12 m4 main7">
    <div class="card hoverable small">
  <div class="card-image">
    <img src="http://via.placeholder.com/350x150">
    <span class="card-title">Food Court</span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="/foodcourt" target="_blank">Visit Now</a>
  </div>
</div>
  </div>
  <div class="col s12 m4 main8">
    <div class="card hoverable small">
  <div class="card-image">
    <img src="http://via.placeholder.com/350x150" >
    <span class="card-title">Photo Gallery</span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="/gallery/user">Visit Now</a>
  </div>
</div>
  </div>
</div>
</div>
</div>



<script type="text/javascript" src="../assests/js/index.js"></script>
